body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right top, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
}

#maincontainer {
    width: 100%;
    height: 70%;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.853);
    transform: scale(1.05);
}

.refresh:hover {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.255);
}